---
layout: default
top: Blog 
---

<div id="header">
	{% include nav-blog.html %}
</div>

<div id="page">

<!--<h1 class="emphnext">{{ page.title }}</h1>-->
<h1>{{ page.title }}</h1>

{{ content }}

<!--  <address class="signature">
    <a class="author" href="http://www.horsehour.com">Chunheng Jiang</a> 
    <span class="date">{{ page.date | date_to_long_string }}</span>
    <span class="location">{{ page.location }}</span>
  </address>
-->

</div>


<!--
<div id="disqus_thread"></div>
<script>

(function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//horsehour.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
})();
</script>
-->

<noscript>
Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
